// Custom styles.
//文章阴影
.post {
   margin-top: 0px;
   margin-bottom: 60px;
   border-radius: 42px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

//文章之间的分割线
.posts-expand .post-eof {
    margin: 40px auto 40px;
    background: white;
}

.site-meta {
    padding: 32px 0;
}